*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 20px;
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
}

section {
  padding: 60px 0 20px;
  text-align: left;
}
